code/build.linux/*.o
code/test/*.o 
code/test/*.coff
code/test/matmult
code/test/printNum
code/test/readNum
code/test/segments
code/test/shell
code/test/sort
code/build.linux/nachos
code/test/add
code/test/halt
code/build.linux/Makefile.dep
code/test/printChar
code/test/randomNum
code/test/bubbleSort
code/test/open
code/test/printString
code/test/readChar
code/test/readString
code/test/remove
code/test/ascii
code/test/close
code/test/createFile
code/test/help
coff2noff/coff2noff.c.rej
coff2noff/coff2noff.o
coff2noff/coff2noff.x86Linux
coff2noff/Makefile.rej
code/test/Makefile.dep.rej
code/test/Makefile.rej
coff2noff/coff2noff.o
coff2noff/coff2noff.x86Linux
coff2noff/coff2noff.o
coff2noff/coff2noff.x86Linux
code/build.linux/Makefile.rej
code/lib/list.cc.rej
code/lib/sysdep.cc.rej
code/lib/sysdep.h.rej
.vscode/settings.json
coff2noff/coff2noff.o
coff2noff/coff2noff.x86Linux
code/test/cat
code/test/copy
code/test/delete
